//
//  Secrets.xcconfig
//  MovieHub
//
//  Created by Guillaume Afanou Souare on 05/08/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

TMDB_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5NjUyN2YyNDQxZjllNDBkYzQ1NDE3NjA3NzAzMTM1YSIsIm5iZiI6MTQ4MjQ4ODc4Mi40NjcsInN1YiI6IjU4NWNmYmNjYzNhMzY4NDA5MzAwOGQ4YyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Khgfej-ZDM8tgXf8RCIW13xHGsJuPT_eNXGQ84vtMqE
